<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- TODO: Add coffee card list (similar to tab1.page.html/ts) -->

  <!-- TODO: Wrap inputs inside a ion-card -->

  <!-- TODO: Look up appropriate type of each added input field `https://www.w3schools.com/html/html_form_input_types.asp` -->
  <ion-item>
    <ion-label position="floating" type="tel">Phone</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <!-- TODO: Add address input -->

  <!-- TODO: Add additional info input -->
</ion-content>
